---
// Content
import type { CollectionEntry } from "astro:content";
import Heading from "./Heading.astro";
import Image from "astro/components/Image.astro";
import Links from "./Links.astro";

type Props = {
    popularProducts: CollectionEntry<"popularProducts">
};

const {popularProducts} = Astro.props;

const {itemCategory, itemImage, itemNumber, itemPrice, itemQuality, itemURL, itemName, itemBrand} = popularProducts.data;
---

<article class="productCard">
    <div class="productCard__img-wrapper">
        <Image src={itemImage} alt={itemName} class="productCard__img" loading="lazy" width={300} height={300} />
        <p class="quality">{itemQuality}</p>
    </div>
    <div class="productCard__content">
        <Heading tag="h3" size="s" fontFamily="primary" marginBottom="s">{itemName}</Heading>
        <p><b>Brand:</b> {itemBrand}</p>
        <p><b>Item Number:</b> {itemNumber}</p>
        <p><b>Category:</b> {itemCategory}</p>
        <p><b>Price:</b> ${itemPrice.toFixed(2)}</p>
        <Links href={itemURL}>View Product</Links>
    </div>
</article>

<style lang="scss">
.productCard {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    padding: .5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // cursor: pointer;

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    &__img-wrapper {
        position: relative;
        aspect-ratio: 3 / 4;
        overflow: hidden;

        img {
            transition: transform 0.3s ease-in-out;
        }
    }

    .quality {
        position: absolute;
        bottom: 0;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        padding: .5rem .75rem .3rem .75rem;
        border-radius: 1000px;
        margin-bottom: 0;
        left: .5rem;
        bottom: .5rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: .8rem;
        font-family: 'Hamburg';
        line-height: 1;
    }

    &__content {
        p {
            margin-bottom: 0rem
        }
    }
}
</style>