---
// Content
import type { CollectionEntry } from 'astro:content';


// Components
type Props = { reviews: CollectionEntry<"reviews">
};

const {reviews} = Astro.props;

const {description, isFeatured, company, name, stars} = reviews.data;

---

<li>
    <span class="stars">{stars}</span>
    <p>{description}</p>
    <h4 class="review-author">{name}</h4>
    <p class="review-company">{company}</p>
</li>

<style lang="scss">
li {
    display: block;
    height: fit-content;
    max-width: 500px;
    text-align: left;
    background: var(--light-100);
    padding: 2rem 2rem .5rem;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
}
span.stars {
    display: block;
    margin: 0 0 .5rem;
    letter-spacing: 5px;
    font-size: 1.15rem;
}

.review-author {
    margin-bottom: 0;
    font-weight: 700;
}
</style>